<section class="bg-green menu-container flex-column justify-content-center">
    <img src="{{ logo.src }}" alt="{{ site.name }}" srcset="{{ logo.src|retina(1) }} 1x,
    {{ logo.src|retina(2) }} 2x,
    {{ logo.src|retina(3) }} 3x,
    {{ logo.src|retina(4) }} 4x" class="buurthaven__logo-navigation">
    <aside class="menu-close__button">
        <button class="btn btn-lg bg-transparent" data-menu-close="#menu">
            <i class="fas fa-times fa-2x"></i>
        </button>
    </aside>
    <div class="container" style="padding-left: 10px; padding-right: 10px">
        <nav class="d-flex position-relative justify-content-center align-items-center flex-column text-center">
            {% for item in menu.items %}
                <section class="d-flex"
                        {% if(item.children) %}
                            data-hover-target="hover_{{ item.id }}"
                        {% endif %}
                >
                    <a
                            class="text-white my-2 h2{{ item.classes|join(' ') }}"
                            href="{{ item.link }}"
                    >
                        <span class="">{{ item.title }}</span>
                    </a>
                </section>
            {% endfor %}
        </nav>
    </div>
</section>


{#{% if(item.children) %}#}
                        {#<section class="container-fluid position-absolute d-none p-3 bg-white" data-hover-anchor="hover_{{ item.id }}">#}
                            {#{% for child in item.children %}#}
                                {#<nav class="d-flex flex-column {% if(loop.first) %} mr-auto {% elseif(loop.last)  %} ml-auto {% else %} mx-auto {% endif %}">#}
                                    {#{{ child }}#}
                                    {#{% for baby in child.children %}#}
                                        {#<a href="{{ baby.link }}">{{ baby }}</a>#}
                                    {#{% endfor %}#}
                                {#</nav>#}
                            {#{% endfor %}#}
                        {#</section>#}
                    {#{% endif %}#}