<section class="bg-green menu-container active d-flex flex-column justify-content-center ">
    <div class="container" style="padding-left: 10px; padding-right: 10px">
        <nav class="d-flex position-relative justify-content-center">
            {% for item in menu.items %}
                <section class="d-flex {% if(loop.first) %} mr-2 {% elseif(loop.last)  %} ml-auto {% else %} mx-2 {% endif %}"
                        {% if(item.children) %}
                            data-hover-target="hover_{{ item.id }}"
                        {% endif %}
                >
                    <a
                            class="text-white my-2 h2 text-lowercase{{ item.classes|join(' ') }}"
                            href="{{ item.link }}"
                    >
                        <span class="">{{ item.title }}</span>
                    </a>
                </section>
            {% endfor %}
        </nav>
    </div>
</section>


{#{% if(item.children) %}#}
                        {#<section class="container-fluid position-absolute d-none p-3 bg-white" data-hover-anchor="hover_{{ item.id }}">#}
                            {#{% for child in item.children %}#}
                                {#<nav class="d-flex flex-column {% if(loop.first) %} mr-auto {% elseif(loop.last)  %} ml-auto {% else %} mx-auto {% endif %}">#}
                                    {#{{ child }}#}
                                    {#{% for baby in child.children %}#}
                                        {#<a href="{{ baby.link }}">{{ baby }}</a>#}
                                    {#{% endfor %}#}
                                {#</nav>#}
                            {#{% endfor %}#}
                        {#</section>#}
                    {#{% endif %}#}