<div class="site-branding container py-3" data-template="helpers.base-header.twig">
    <section class="d-flex align-items-center">
        <a href="{{ site.url }}" class="logo__link">
            <figure class="logo__container">
                <img src="{{ logo.src }}" alt="{{ site.name }}" srcset="{{ logo.src|retina(1) }} 1x,
    {{ logo.src|retina(2) }} 2x,
    {{ logo.src|retina(3) }} 3x,
    {{ logo.src|retina(4) }} 4x" class="buurthaven__logo">
            </figure>
        </a>
    </section>
    <aside class="ml-auto color-dark-dark-10 menu__button-container">
        <button class="btn btn-lg bg-transparent menu__button-button" data-menu-target="#menu">
            <i class="fas fa-bars fa-2x"></i>
        </button>
    </aside>
</div><!-- .site-branding -->